.one{
text-align: center;
}
.two{
    margin-top: 25px;
}
.footer-wrapper{
    background-color: lightsteelblue;
    padding: 300px;
}
.three{
    padding: 20px;
    background-color: darkgray;
}
.four{
    padding: 50px;
    background-color: lightseagreen;
}
.book{
    background-color: grey;
    border-radius: 25px;
}
.book:hover{
    background-color: blue;
}
.box{
    background-color: #7AA641;
}
.home4{
    padding: 40px;
    background-color: #666666;
}
.about us{
text-align: center;
}
